{% extends 'base.html' %}
{% block content%}
    <div class="container profile-container">
        <div class="text-center">
            <h4>Username: {{ user.username }}</h4>
            <h4>Name: {{ user.name }}</h4>
            <p>Email: {{ user.email }}</p>
        </div>

        <hr>

        <div>
            <h5>Дата регистрации</h5>
            <p>{{ user.date_joined }}</p>
        </div>

        <hr>

        <div>
            <h5>Контактная информация</h5>
            <p>Роль: {{ user.role }}</p>
            <p>Контакты: {{ user.contacts }}</p>
            {% if user.role == 'Executor' %}
            <p>Опыт: {{ user.experience|default:"" }}</p>
            {% endif %}

        </div>
    <br>
    <br>
    <br>
    </div>
    <form method="POST">
    <p>Редактировать профиль</p>
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
    </div>
    <div class="form-group">
        <label for="email">Контакты:</label>
        <input type="text" class="form-control" id="contacts" name="contacts" value="{{ user.contacts }}">
    </div>
    {% if user.role == 'Executor' %}
    <div class="form-group">
        <label for="email">Опыт:</label>
        <input type="text" class="form-control" id="experience" name="experience" value="{{ user.experience|default:"" }}">
    </div>
    {% endif %}
    <div class="form-group">
    <label for="role">Роль:</label>
    <select class="form-control" id="role" name="role">
        <option value="Customer" {% if user.role == 'customer' %}selected{% endif %}>Customer</option>
        <option value="Executor" {% if user.role == 'executor' %}selected{% endif %}>Executor</option>
    </select>
</div>
        <br>
    <!-- Добавьте поля для других данных, которые вы хотите изменить -->
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}