{% extends 'base.html' %}
{% block content%}
<div class="container">
    <h1>Welcome to Your Profile</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>User Information</h2>
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="contacts">Contacts:</label>
                    <input type="text" class="form-control" id="contacts" name="contacts" value="{{ user.contacts }}" placeholder="Contacts">
                </div>
                {% if user.role == 'Executor' %}
                <div class="form-group">
                    <label for="experience">Experience:</label>
                    <textarea class="form-control" id="experience" name="experience" placeholder="Experience">{{ user.experience }}</textarea>
                </div>
                {% endif %}
                <h2>Role: {{ user.role }}</h2>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select class="form-control" id="role" name="role">
                        <option value="Customer" {% if user.role == 'Customer' %} selected {% endif %}>Customer</option>
                        <option value="Executor" {% if user.role == 'Executor' %} selected {% endif %}>Executor</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>User Dashboard</h2>
            <div class="row">
                <div class="col-md-12">
                    {% if user.role == 'Customer' %}
                        <!-- Customer Dashboard -->
                        <p>Customer Dashboard Content Goes Here</p>
                    {% elif user.role == 'Executor' %}
                        <!-- Executor Dashboard -->
                        <p>Executor Dashboard Content Goes Here</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}